
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>
<body>
    <h3>@Model.Id</h3>
    <p>@Model.FirstName</p>
    <hr />
    <a href ="~/Home/Index">Вернуться на основное представление</a>
</body>
</html>
